/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

img {
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat-Bold'),
    url('../fonts/Montserrat-Bold.woff2') format('woff2'),
    url('../fonts/Montserrat-Bold.woff') format('woff');
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat-Regular'),
    url('../fonts/Montserrat-Regular.woff2') format('woff2'),
    url('../fonts/Montserrat-Regular.woff') format('woff');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat-SemiBold'),
    url('../fonts/Montserrat-SemiBold.woff2') format('woff2'),
    url('../fonts/Montserrat-SemiBold.woff') format('woff');
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat-Medium'),
    url('../fonts/Montserrat-Medium.woff2') format('woff2'),
    url('../fonts/Montserrat-Medium.woff') format('woff');
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: local('Montserrat-ExtraBold'),
    url('../fonts/Montserrat-ExtraBold.woff2') format('woff2'),
    url('../fonts/Montserrat-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-display: swap;
}


:root {
  --color-light: #fff;
  --color-dark: #000;
  --color-main: #FF9900;
  --color-active: #E1670E;
  --color-focus: #FFB84D;
  --gap: 85px;
  --gap-between: 50px;
}


body {
  background-color: var(--color-light);
  font-family: 'Montserrat', sans-serif;
}

.list-reset {
  padding: 0;
  margin: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1810px;
}

.stop-scroll {
  overflow: hidden;
}

/* header */


.burger {
  display: none;
}

.header {
  margin-bottom: var(--gap-between);
  background-color: var(--color-light);
  background: var(--color-light);
  -webkit-box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
  border-radius: 0px 0px 32px 32px;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
}

.nav__menu {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}

.header__nav {
  margin-left: auto;
  position: relative;
  z-index: 2;
}


.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__link {
  margin-right: 85px;
  position: relative;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

.nav__link::before {
  content: "";
  bottom: -6px;
  left: 0;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: var(--color-main);
  -webkit-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
}

.nav__link:hover::before {
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
}

.nav__link:focus {
  outline: 2px solid var(--color-main);
  outline-offset: 5px;
}

.nav__link:active {
  color: var(--color-active);
}

.section-header__search-form {
  position: absolute;
  right: 0;
  visibility: hidden;
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 16px 13px 16px 32px;
  background: #fff;
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.12);
  border-radius: 24px;
  -webkit-transition: visibility .4s, opacity .4s;
  -o-transition: visibility .4s, opacity .4s;
  transition: visibility .4s, opacity .4s;
}

.section-header__search-form-active {
  visibility: visible;
  opacity: 1;
  z-index: 999;
}

.search-form__search {
  margin-right: 20px;
}

.section-header__search, .search-form__close {
  padding: 0;
  max-height: 24px;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.section-header__search-close {
  display: none;
}

.search-form__input {
  width: 412px;
  margin-right: 14px;
  padding-bottom: 5px;
  padding-top: 4px;
  border: none;
  border-bottom: 1px solid #CACACA;
}

.search-form__input::-webkit-input-placeholder {
  max-width: 175px;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

.search-form__input::-moz-placeholder {
  max-width: 175px;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

.search-form__input:-ms-input-placeholder {
  max-width: 175px;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

.search-form__input::-ms-input-placeholder {
  max-width: 175px;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

.search-form__input::placeholder {
  max-width: 175px;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

.section-header__search-svg path, .search-form__close-svg circle {
  -webkit-transition: stroke .3s ease;
  -o-transition: stroke .3s ease;
  transition: stroke .3s ease;
}

.section-header__search-svg rect, .search-form__close-svg rect {
  -webkit-transition: fill .3s ease;
  -o-transition: fill .3s ease;
  transition: fill .3s ease;
}

.section-header__search:hover .section-header__search-svg path, .search-form__close:hover .search-form__close-svg circle {
  stroke: var(--color-main);
}

.section-header__search:hover .section-header__search-svg rect, .search-form__close:hover .search-form__close-svg rect {
  fill: var(--color-main);
}

.section-header__search:focus-visible, .search-form__close:focus-visible {
  outline: 2px solid var(--color-main);
}

.section-header__search:active .section-header__search-svg path {
  stroke: var(--color-main);
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
}

.section-header__search:active .section-header__search-svg rect {
  fill: var(--color-main);
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
}

.search-form__close:active .search-form__close-svg circle {
  stroke: #000;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
}

.search-form__close:active .search-form__close-svg rect {
  fill: #000;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
}


/* Hero */

.swiper-button-prev::after {
  display: none;
}

.swiper-button-next::after {
  display: none;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: white;
}

.swiper {
  position: relative;
}

.hero__text {
  position: absolute;
  padding-left: 80px;
  padding-top: 100px;
  max-width: 900px;
  top: 100px;
  z-index: 1;
}

.hero__container {
  margin-bottom: var(--gap-between);
}

.hero__title {
  margin: 0;
  padding-bottom: 24px;
  font-weight: 800;
  font-size: 70px;
  line-height: 85px;
  color: var(--color-light);
}

.hero__descr {
  margin: 0;
  margin-bottom: 88px;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: var(--color-light);
}

.hero__btn {
  margin-bottom: 100px;
  padding: 26px 40px;
  font-weight: 700;
  font-size: 23px;
  line-height: 28px;
  color: var(--color-light);
  background-color: var(--color-main);
  border-radius: 16px;
  -webkit-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

.hero__btn:focus {
  background-color: var(--color-focus);
}

.hero__btn:hover {
  background-color: var(--color-focus);
}

.hero__btn:active {
  background-color: var(--color-active);
}

.new-slider {
  background-image: url(../img/hero_bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 32px;
}

/* about */

.about__container {
  margin-bottom: 90px;
}

.about__title {
  margin: 0;
  padding-bottom: 20px;
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
}

.about__descr {
  margin: 0;
  max-width: 1235px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}

.about__descr-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: var(--gap-between);
}

.about__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 30px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  max-width: 870px;
  background-image: url(../img/about-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 32px;
}

.about__left-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 60px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 32px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__left-descr {
  margin: 0;
  max-width: 100%;
  margin-right: 140px;
  font-weight: 700;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-light);
}

.about__left-btn {
  padding: 17px 36px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: var(--color-light);
  border: 3px solid var(--color-main);
  border-radius: 16px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  -webkit-transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.about__left-btn:focus {
  background-color: var(--color-main);
  border-color: var(--color-main);
}

.about__left-btn:hover {
  background-color: var(--color-main);
  border-color: var(--color-main);
}

.about__left-btn:active {
  background-color: var(--color-active);
  border-color: var(--color-active);
}

.about__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90%;
}

.about__right-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
  padding: 65px;
  background: var(--color-light);
  border: 1px solid #CACACA;
  border-radius: 32px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about__right-top-title {
  margin: 0;
  padding-bottom: 5px;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: var(--color-dark);
}

.about__right-top-text {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-dark);
  max-width: 450px;
}

.about__right-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 65px;
  background: var(--color-light);
  border: 1px solid #CACACA;
  border-radius: 32px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about__right-bottom-title {
  margin: 0;
  padding-bottom: 5px;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: var(--color-dark);
}

.about__right-bottom-text {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-dark);
  max-width: 450px;
}

.about__right-picture {
  margin: 0;
  display: inherit;
}

.about__right-picture img {
  margin: 0;
}

/* work */

.work__container {
  margin-bottom: 110px;
}

.work__title {
  margin: 0;
  padding-bottom: var(--gap-between);
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
  color: var(--color-dark);
}


.work__descr-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.work__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 45px;
}

.work__item {
  margin-right: var(--gap);
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: var(--color-dark);
}

.work__link--active {
  color: tan;
}

.work__tab {
  display: none;
} 

.tab-content-active {
  display: block;
}

.work__link {
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

.work__link:focus {
  outline: 2px solid #FF9900;
  outline-offset: 2px;
}

.work__link:hover {
  color: var(--color-main);
}

.work__link:active {
  color: var(--color-active);
}

.work__subtitle {
  margin: 0;
  padding-bottom: 8px;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: var(--color-dark);
}

.work__descr-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.work__descr {
  margin: 0;
  max-width: 758px;
  margin-bottom: 18px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}

.work__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.work__button--fill {
  margin-right: 31px;
  padding: 20px 38px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: var(--color-light);
  background-color: var(--color-main);
  border-radius: 16px;
  -webkit-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

.work__button--fill:focus {
  background-color: var(--color-focus);
}

.work__button--fill:hover {
  background-color: var(--color-focus);
}

.work__button--fill:active {
  background-color: var(--color-active);
}

.work__button--stroke {
  padding: 18px 37px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: var(--color-dark);
  border: 1px solid var(--color-dark);
  border-radius: 16px;
  -webkit-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.work__button--stroke:focus {
  background-color: #666;
  color: var(--color-light);
}

.work__button--stroke:hover {
  background-color: #666;
  color: var(--color-light);
}

.work__button--stroke:active {
  background-color: #000;
  color: var(--color-light);
}

/* FAQ */
.faq__container {
  margin-bottom: 100px;
}

.faq__title {
  margin: 0;
  padding-bottom: 32px;
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
  color: var(--color-dark);
}

.faq__acordion-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.faq__accordion-item {
  padding: 30px 0;
  font-size: 18px;
  cursor: pointer;
  border-top: 1px solid #555;
  -webkit-transition: color .5s ease, border-color .5s ease;
  -o-transition: color .5s ease, border-color .5s ease;
  transition: color .5s ease, border-color .5s ease;
}

.faq__accordion-item:last-child {
  border-bottom: 1px solid #555;
}

.faq__accordion-item:hover {
  color: #f90;
  border-color: #f90;
}

.faq__accordion-item:hover + .faq__accordion-item {
  border-color: #f90;
}

.faq__accordion-item:hover + .faq__accordion-item:last-child {
  border-color: #f90;
  border-bottom: 1px solid #555;
}

.ac-panel {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}


.faq__accordion-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
}

.faq__accordion-plus {
  display: block;
  border-radius: 50%;
  background-color: #ccc;
  min-width: 50px;
  height: 50px;
  background-image: url(../img/+.svg);
  background-size: 25px;
  background-position: center;
  background-repeat: no-repeat;
}

.faq__accordion-item:hover .faq__accordion-plus {
  background-color: #f90;
  background-image: url(../img/+-light.svg);
}
/* footer */
.footer {
  background-color: var(--color-dark);
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 50px;
  padding-bottom: 50px;
}

.footer__container img {
  margin-bottom: 15px;
}

.footer__left {
  margin-right: 116px;
}

.footer__list {
  margin-bottom: 90px;
}

.footer__link {
  font-weight: 600;
  font-size: 18px;
  line-height: 36px;
  color: #CACACA;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

.footer__link:focus {
  outline: 2px solid var(--color-focus);
}

.footer__link:hover {
  color: var(--color-focus);
}

.footer__link:active {
  color: var(--color-active);
}

.footer__ok {
  margin-right: 20px;
}

.footer__ok svg {
  fill: #666;
  -webkit-transition: fill 0.3s ease-in-out;
  -o-transition: fill 0.3s ease-in-out;
  transition: fill 0.3s ease-in-out;
}

.footer__ok:focus svg {
  outline: 2px solid var(--color-focus);
}

.footer__ok:hover svg {
  fill: #ff9900;
}

.footer__ok:active svg {
  fill: var(--color-active);
}

.footer__vk svg {
  fill: #666;
  -webkit-transition: fill 0.3s ease-in-out;
  -o-transition: fill 0.3s ease-in-out;
  transition: fill 0.3s ease-in-out;
}

.footer__vk:focus svg {
  outline: 2px solid var(--color-focus);
}

.footer__vk:hover svg {
  fill: #ff9900;
}

.footer__vk:active svg {
  fill: var(--color-active);
}

.footer__title {
  margin: 0;
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
  color: #CACACA;
}

.footer__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__input {
  margin-top: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 24px;
  background: #414141;
  border-radius: 16px;
  width: 570px;
  background-color: #414141;
  color: var(--color-light);
  -webkit-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

.footer__input:focus {
  background-color: #666;
}

.footer__input:hover {
  background-color: #666;
}

.footer__input:active {
  background-color: #666;
}

.footer__input-message {
  margin-top: 30px;
  margin-bottom: 32px;
  padding-top: 25px;
  padding-bottom: 83px;
  padding-left: 24px;
  background: #414141;
  border-radius: 16px;
  width: 570px;
  background-color: #414141;
  color: var(--color-light);
  -webkit-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

.footer__input-message:focus {
  background-color: #666;
}

.footer__input-message:hover {
  background-color: #666;
}

.footer__input-message:active {
  background-color: #666;
}

.footer__btn {
  padding: 19px 52px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: var(--color-light);
  background-color: var(--color-main);
  border-radius: 16px;
  -webkit-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

.footer__btn:focus {
  background-color: var(--color-focus);
}

.footer__btn:hover {
  background-color: var(--color-focus);
}

.footer__btn:active {
  background-color: var(--color-active);
}

.footer__right {
  padding-top: 85px;
  max-width: 363px;
}

.footer__right-descr {
  margin: 0;
  max-width: 365px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #CACACA;
}
